/*Targeting the body element*/

body {
	font-family: 'Roboto', sans-serif;
	color: #333;
}

/*Targeting all image elements with a max-width and a height to auto*/

img {
	max-width: 100%;
	height: auto;
}

/*Targeting and selectind every single element on the page*/

* {
	box-sizing: border-box;
}


/*Targeting all the links on the page*/

a {
	color: $mainOrange;
}